<launch>
	<node name="plot_SNN_volts" pkg="ros_snn" type="plot_volts.py" output="screen" respawn="false">
    		<param name="path" value="/home/pi/ros_catkin_ws/src/spike/assets/snn/"/>     <!-- path where the trained SNN is saved -->   
		<param name="SNNname" value="spike"/> 			    <!-- Name of the SNN -->
		<param name="xml" value="snn_spike.xml"/> 			    <!-- Name of the xml file -->
	</node>
	<node name="plot_SNN_spikes" pkg="ros_snn" type="plot_spikes.py" output="screen" respawn="false">
    		<param name="path" value="/home/pi/ros_catkin_ws/src/spike/assets/snn/"/>     <!-- path where the trained SNN is saved -->   
		<param name="SNNname" value="spike"/> 			    <!-- Name of the SNN -->
		<param name="xml" value="snn_spike.xml"/> 			    <!-- Name of the xml file -->
	</node>
	<node name="plot_SNN_input" pkg="ros_snn" type="plot_input.py" output="screen" respawn="false">
    		<param name="path" value="/home/pi/ros_catkin_ws/src/spike/assets/snn/"/>     <!-- path where the trained SNN is saved -->   
		<param name="SNNname" value="spike"/> 			    <!-- Name of the SNN -->
		<param name="xml" value="snn_spike.xml"/> 			    <!-- Name of the xml file -->
	</node>
	<node name="plot_connectivity" pkg="ros_snn" type="plot_connectivity.py" output="screen" respawn="false" required="true">
    		<param name="path" value="/home/pi/ros_catkin_ws/src/spike/assets/snn/"/>     <!-- path where the trained SNN is saved -->   
		<param name="SNNname" value="spike"/> 			    <!-- Name of the SNN -->
		<param name="xml" value="snn_spike.xml"/> 			    <!-- Name of the xml file -->
  	</node>


</launch>


